<div class="row">
  <div class="col-md-12">
    <h1>{{title}}</h1>
    <p>{{subtitle}}</p>
  </div>
</div>

{{! Headers }}
<div class="row">
  <div class="col-lg-3">
    <h2>On Order</h2>
  </div>
  <div class="col-lg-2">
    <h3>55 items / $1179.41</h3>
  </div>
  <div class="col-lg-3">
    <h3>In Stock</h3>
  </div>
  <div class="col-lg-2">
    <h3>4 items</h3>
  </div>
  <div class="col-lg-2">
    <h2>Hot Tips</h2>
  </div>
</div>

{{! Search bars }}
<div class="row">
  <div class="col-lg-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search items On Order ... ">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search items In Stock ... ">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
  <div class="col-lg-2">
  </div>
</div>

{{! Data }}
<div class="row">
  <div class="col-lg-5">
    <table class="table table-striped table-hover">
      <tr>
        <th>Style</th>
        <th>Size</th>
        <th>Cost</th>
        <th>Quantity</th>
        <th>Origin</th>
        <th>Date Ordered</th>
        <th>Date Shipped</th>
        <th>Tracking Number</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>LEGGINGS</td>
        <td>OneSize</td>
        <td>$545.63</td>
        <td>25</td>
        <td>Mexico</td>
        <td>October 15, 2016</td>
        <td>October 16, 2016</td>
        <td><a href="#">UPS804TYYU64UDB9</a></td>
        <td class="info">SHIPPING</td>
      </tr>
      <tr>
        <td>LEGGINGS</td>
        <td>LARGE</td>
        <td>$633.78</td>
        <td>30</td>
        <td>Mexico</td>
        <td>October 15, 2016</td>
        <td>October 16, 2016</td>
        <td><a href="#">UPS00D4B0TYUNP62</a></td>
        <td class="info">SHIPPING</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-5">
    <table class="table table-striped table-hover">
      <tr>
        <th>SKU</th>
        <th>Style</th>
        <th>Size</th>
        <th>Price</th>
        <th>Profit Margin</th>
        <th>Origin</th>
        <th>Notes</th>
        <th>Date Inventory</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>LEG-OS-0294</td>
        <td>LEGGINGS</td>
        <td>OneSize</td>
        <td>$19.95</td>
        <td>15%</td>
        <td>Mexico</td>
        <td>Red w/ yellow arrows</td>
        <td>October 09, 2016</td>
        <td>IN STOCK</td>
      </tr>
      <tr>
        <td>LEG-OS-0288</td>
        <td>LEGGINGS</td>
        <td>OneSize</td>
        <td>$19.95</td>
        <td>15%</td>
        <td>Vietnam</td>
        <td>Blue w/ white clouds</td>
        <td>October 05, 2016</td>
        <td class="info">CLAIMED</td>
      </tr>
      <tr>
        <td>LEG-LG-0049</td>
        <td>LEGGINGS</td>
        <td>Large</td>
        <td>$19.95</td>
        <td>15%</td>
        <td>Mexico</td>
        <td>Black w/ purple dots</td>
        <td class="warning">August 12, 2016</td>
        <td>IN STOCK</td>
      </tr>
      <tr>
        <td>RAN-SM-0196</td>
        <td>RANDY</td>
        <td>Small</td>
        <td>$17.95</td>
        <td class="success">21%</td>
        <td>Hong Kong</td>
        <td>Grey w/ white stripes</td>
        <td>September 28, 2016</td>
        <td>IN STOCK</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-2">
    <ul>
      <li><span class="label label-danger">Danger</span> LOW STOCK - Recommend ordering more inventory ASAP</li>
      <li><span class="label label-warning">Warning</span> Item <a href="#">LEG-LG-0049</a> has been in inventory for over 30 days! Recommend discounting or using as giveaway prize</li>
      <li>Items of style <a href="#">RANDY</a> have the highest profit margin: 21%</li>
      <li>Items of style <a href="#">LEGGINGS</a> sell the quickest - average time in stock: 8 days</li>
    </ul>
  </div>
</div>
